$transitionSpeed: 0.5s;
$breakpointLarge: 992px;

.no-scroll {
	overflow: hidden;
}

body {
	overflow-x: hidden;
}

.collapse.navbar-collapse {
	justify-content: flex-end;
}

nav.navbar {
	padding-left: 2rem;
	padding-right: 2rem;
	z-index: 10;
}

//
//
// #################### SEARCH & LANDING PAGE ####################
//
//

.landing-page-wrapper {
	width: 80%;
	max-width: 28rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	transition: $transitionSpeed opacity ease;
}

.landing-page-wrapper-hidden {
	opacity: 0;
}

.background-image {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(https://source.unsplash.com/collection/8994315/);

	&::after {
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		content: ' ';

		background-color: rgba(0, 0, 0, 0.5);
	}
}

.search-section-wrapper {
	padding-bottom: 3rem;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: absolute;

	box-sizing: border-box;
	overflow: hidden;
}

.search-section {
	background: white;
	width: 100%;
	min-height: 30rem;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	z-index: 1;
	padding: 2rem 1.4rem;

	transition: $transitionSpeed 0.2s ease;
}

@media only screen and (min-width: $breakpointLarge) {
	.search-section {
		width: 90%;
		max-width: 80rem;
		margin-bottom: 5rem;
		border-radius: 5px;
		padding: 2rem;
	}
}

.search-section-wrapper-active {
	overflow: visible;

	.search-section {
		top: 3.5rem;
	}

	@media only screen and (min-width: $breakpointLarge) {
		.search-section {
			top: 10rem;
		}
	}
}

.search-section .form-row {
	margin-bottom: 1rem;
}

.listing-rating {
	font-weight: 600;
	display: flex;
	align-items: center;
	margin: 0;

	span {
		margin: 0 0.2rem 0 0.3rem;
	}
}

.listing .card-img {
	object-fit: cover;
	object-position: center;
}

.search-map {
	height: 20rem;
	margin-bottom: 2rem;
	border: 1px solid #cccccc;
}

@media only screen and (min-width: $breakpointLarge) {
	.search-map {
		position: sticky;
		top: 0;
		max-height: 100vh;
		height: initial;
		margin-bottom: 0;
		border: none;
		padding: 0;
	}

	.listing:last-child {
		margin-bottom: 0 !important;
	}

	.listing .card-img {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

//
//
// #################### LISTING PAGE ####################
//
//

@media only screen and (min-width: $breakpointLarge) {
	.listing .card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
}

.carousel-control-prev,
.carousel-control-next {
	opacity: 1 !important;
}

@media only screen and (min-width: $breakpointLarge) {
	.carousel-control-prev,
	.carousel-control-next {
		&:hover {
			.carousel-control-prev-icon,
			.carousel-control-next-icon {
				transform: scale(1.2);
			}
		}
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		width: 2rem;
		height: 2rem;
		opacity: 1 !important;
		transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
}

.text-large {
	font-size: 1.2rem;
}

.text-medium {
	font-size: 1rem;
}

.listing-location {
	margin-top: -0.2rem;
	font-weight: 600;
	font-size: 1.2rem;
}

.book-now-section {
	margin-top: 2rem;

	.DateRangePicker {
		margin: 1rem 0 1.2rem;
	}

	button.btn-primary {
		display: block;
		width: 100%;
	}
}

@media only screen and (min-width: $breakpointLarge) {
	.book-now-section {
		border-color: #aaaaaa;
		margin: 2rem auto 0;
		width: fit-content;
		position: sticky;
		margin-top: 0.5rem;
		top: 3rem;

		.DateRangePicker {
			margin: 1rem 0 1.5rem;
		}
	}
}

.listing-map {
	width: 100%;
	height: 25rem;
	background-color: #cccccc;
}

.host-image {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	margin-right: 1rem;
}

.host-basic-info {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	span {
		p:first-child {
			font-weight: 700;
			margin-bottom: -0.1rem;
			font-size: 1.2rem;
		}
		p:last-child {
			margin: 0;
			font-size: 0.9rem;
			font-weight: 500;
		}
	}
}

.listing {
	h3 {
		margin-bottom: 1rem;
	}

	hr {
		margin: 2rem 0;
	}
}

.host-contact-info {
	padding: 0 0 0 0;

	li {
		list-style: none;

		svg {
			font-size: 1.5rem;
			margin-right: 0.5rem;
		}
	}
}

.listing-images {
	height: 30rem;
	width: 100%;
	max-width: none;
	padding: 0;
	margin: 0;

	div {
		margin: 0;
		padding: 0;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		padding: 0.5rem;
	}

	& > div {
		height: 100%;

		div.row {
			height: 50%;
		}

		& > div:first-child img {
			border-radius: 1.2rem 0 0 1.2rem;
		}

		& > div:last-child {
			div:first-child div:last-child img {
				border-radius: 0 1.2rem 0 0;
			}

			div:last-child div:last-child img {
				border-radius: 0 0 1.2rem 0;
			}
		}
	}
}

.listing-title {
	margin-bottom: 2rem;
}

.full-screen-carousel {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease;

	.carousel {
		position: absolute;
		width: 100vw;
		height: 100vh;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.carousel-inner {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		.carousel-item {
			img {
				object-fit: contain;
				object-position: center;
				width: 80vw;
				height: 80vh;
			}
		}

		.carousel-control-prev,
		.carousel-control-next {
			width: 30%;
		}
	}
}

.full-screen-carousel-active {
	opacity: 1;
	z-index: 100;
	transition: opacity 0.5s ease;
}

.carousel-close {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}

//
//
// #################### ADD PROPERTY PAGE ####################
//
//

.add-property-map {
	height: 25rem;
}

@media only screen and (min-width: $breakpointLarge) {
	.add-property-map {
		height: calc(100% - 3rem);
		margin: 0 !important;
	}
}

.combobox-popover {
	z-index: 1;
}

.property-location-label {
	height: 3rem;
	margin: 0;
	padding: 0;
}

.property-images {
	display: flex;
	padding: 0;
	overflow: auto;
	margin-top: 2rem;

	li {
		list-style-type: none;
		margin: 0 0.5rem;

		img {
			width: 10rem;
			height: 10rem;
			object-fit: cover;
			object-position: center;
			border-radius: 3px;
		}
	}
}

.add-picture-form {
	padding: 0;
}

//
//
// #################### LOGIN PAGE ####################
//
//

.login-page {
	width: 95%;
	margin: 0;
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
	min-height: 0;
}

@media only screen and (min-width: $breakpointLarge) {
	.login-page {
		width: 25rem;
	}
}

.login-buttons {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.link {
	cursor: pointer;
}

//
//
// #################### DASHBOARD PAGE ####################
//
//

.chart-container {
	height: 25rem;
}

@media only screen and (min-width: $breakpointLarge) {
	.search-by-name {
		width: 20rem;
	}
}

.my-listing-containers {
	width: 100%;
	margin: 0;
}

.property-buttons {
	flex: 1;
}

.my-property-calendar {
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.4s ease;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	z-index: -5;

	&.active {
		opacity: 1;
		transition: opacity 0.4s ease;
		z-index: 5;
	}
}
