.no-scroll {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.collapse.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 10;
}

.landing-page-wrapper {
  width: 80%;
  max-width: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: 0.5s opacity ease;
  transition: 0.5s opacity ease;
}

.landing-page-wrapper-hidden {
  opacity: 0;
}

.background-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://source.unsplash.com/collection/8994315/);
}

.background-image::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  content: ' ';
  background-color: rgba(0, 0, 0, 0.5);
}

.search-section-wrapper {
  padding-bottom: 3rem;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.search-section {
  background: white;
  width: 100%;
  min-height: 30rem;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  padding: 2rem 1.4rem;
  -webkit-transition: 0.5s 0.2s ease;
  transition: 0.5s 0.2s ease;
}

@media only screen and (min-width: 992px) {
  .search-section {
    width: 90%;
    max-width: 80rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    padding: 2rem;
  }
}

.search-section-wrapper-active {
  overflow: visible;
}

.search-section-wrapper-active .search-section {
  top: 3.5rem;
}

@media only screen and (min-width: 992px) {
  .search-section-wrapper-active .search-section {
    top: 10rem;
  }
}

.search-section .form-row {
  margin-bottom: 1rem;
}

.listing-rating {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.listing-rating span {
  margin: 0 0.2rem 0 0.3rem;
}

.listing .card-img {
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (min-width: 992px) {
  .listing .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
}

@media only screen and (min-width: 992px) {
  .carousel-control-prev:hover .carousel-control-prev-icon,
  .carousel-control-prev:hover .carousel-control-next-icon,
  .carousel-control-next:hover .carousel-control-prev-icon,
  .carousel-control-next:hover .carousel-control-next-icon {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
    opacity: 1 !important;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.text-large {
  font-size: 1.2rem;
}

.text-medium {
  font-size: 1rem;
}

.listing-location {
  margin-top: -0.2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.book-now-section {
  margin-top: 2rem;
}

.book-now-section .DateRangePicker {
  margin: 1rem 0 1.2rem;
}

.book-now-section button.btn-primary {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .book-now-section {
    border-color: #aaaaaa;
    margin: 2rem auto 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
  }
  .book-now-section .DateRangePicker {
    margin: 1rem 0 1.5rem;
  }
}

.listing-map {
  width: 100%;
  height: 25rem;
  background-color: #cccccc;
}

.host-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-right: 1rem;
}

.host-basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.host-basic-info span p:first-child {
  font-weight: 700;
  margin-bottom: -0.1rem;
  font-size: 1.2rem;
}

.host-basic-info span p:last-child {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.listing h3 {
  margin-bottom: 1rem;
}

.listing hr {
  margin: 2rem 0;
}

.host-contact-info {
  padding: 0 0 0 0;
}

.host-contact-info li {
  list-style: none;
}

.host-contact-info li svg {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.listing-images {
  height: 30rem;
  width: 100%;
  max-width: none;
  padding: 0;
  margin: 0;
}

.listing-images div {
  margin: 0;
  padding: 0;
}

.listing-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 0.5rem;
}

.listing-images > div {
  height: 100%;
}

.listing-images > div div.row {
  height: 50%;
}

.listing-images > div > div:first-child img {
  border-radius: 1.2rem 0 0 1.2rem;
}

.listing-images > div > div:last-child div:first-child div:last-child img {
  border-radius: 0 1.2rem 0 0;
}

.listing-images > div > div:last-child div:last-child div:last-child img {
  border-radius: 0 0 1.2rem 0;
}

.listing-title {
  margin-bottom: 2rem;
}

.full-screen-carousel {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.full-screen-carousel .carousel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.full-screen-carousel .carousel .carousel-inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.full-screen-carousel .carousel .carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 80vw;
  height: 80vh;
}

.full-screen-carousel .carousel .carousel-control-prev,
.full-screen-carousel .carousel .carousel-control-next {
  width: 30%;
}

.full-screen-carousel-active {
  opacity: 1;
  z-index: 100;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.carousel-close {
  position: absolute;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
